.active{
  font-weight: bold;
  color: #fe4a57 ;
}
.hero_section {
  display: flex;
  background-color: #24263b;
}

.about_section {
  display: flex;
  background-color: #1f2235;
}
.skills_section{
  display: flex;
  background-color: #24263b;
}
.projects_section {
  display: flex;
  background-color: #1f2235;
}
.contact_section {
  display: flex;
  background-color: #24263b;
}
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
.font-link {
  font-family: 'Open Sans', cursive;
}

@media (min-width: 500px) {
  .developer_role{
    font-size: x-large;
  }
  .developer_socials{
    width: 60%;
  }
}

@media (min-width: 640px) {
  .developer_role{
    font-size: xx-large;
  }
}
@media (min-width: 768px) {
  .developer_socials{
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .developer_role{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
}

